.cuadrado {
  height: 300px;
  width: 300px;
  background-color: red;
  border: 1px solid white;
}

.cuadrado1 {
  height: 300px;
  width: 300px;
  background-color: blue;
  border: 1px solid white;
}

.cuadrado2 {
  height: 300px;
  width: 300px;
  background-color: blueviolet;
  border: 1px solid white;
}

.cuadrado3 {
  height: 300px;
  width: 300px;
  background-color: cadetblue;
  border: 1px solid white;
}

.cuadradoChange {
  height: 300px;
  width: 300px;
  background-color: black;
  border: 1px solid white;
}
